.header {
    padding: 40px 140px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    img {
        cursor: pointer;
    }
}

.nav {
    font-size: 18px;
    a {
        text-decoration: none;
        color: gray;
        &:hover {
            color: #971D62;
        }
    }
    

    & > * {
        margin-left: 20px;
    }
}

.actions {
    display: flex;
    align-items: center;

    & > * {
        margin-left: 10px;
    }
    .person {
        cursor: pointer;
    }
    .search {
        cursor: pointer;
    }
    
}

