.header {
    padding: 40px 140px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav {
    font-size: 18px;

    & > * {
        margin-left: 20px;
    }
}

.actions {
    display: flex;
    align-items: center;

    & > * {
        margin-left: 10px;
    }
}

