.sectionTitle {
    display: flex;
    justify-content: space-between;

    h3 {
        font-size: 20px;
        color: #2C2C2C;
    }

    a {
        color: #77BE39;
        font-size: 15px;
        text-decoration: underline;
    }
}
