.sectionTitle {
    display: flex;
    justify-content: space-between;

    h3 {
        font-size: 24px;
    }

    a {
        color: #77BE39;
        font-size: 15px;
        text-decoration: underline;
    }
}