.footer {
    background-color: #971D62;
    color: white;
    padding: 50px 140px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);

    .logos {
        display: flex;
        flex-direction: column;
        align-items: center;
        cursor: pointer;

        div {
            width: 250px;
            height: 70px;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            
        }

        span {
            margin-top: 20px;
            
            svg {
                margin-right: 10px;
                opacity: 0.5;
            }
        }

        
    }
}