.thirdmain {
    padding: 20px;
}

.thirdnewsList {
    padding-top: 20px 140px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

.main {
    padding: 20px;
}

.newsList {
    padding-top: 20px 6px;
    display: flex;
    justify-content: space-evenly;
    
}