.main {
    padding: 20px 140px;

    section {
        margin-bottom: 50px;
    }
}

.news {
}

.newsList {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

.loans {
}

.loansList, .currencyList {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}